.blog-visibility-toggles{
	position: fixed;
	bottom: 0;
	margin-left: 74px;
	background-color: #dadada;
	padding: 8px 17px 8px 12px;
	border-top: 2px solid #848484;
	border-right: 2px solid #848484;
}

.blog-visibility-toggles label, label.delay-post-option{
	display: inline-block;
	line-height: 21px;
	padding-left: 25px;
}

label.delay-post-option{
	padding-left: 20px;
	margin-left: 48px;
}

label.draft-post-toggle{
	border-left: 3px solid #3e78b7;
}

label.hidden-post-toggle{
	border-left: 3px solid #848484;
	margin-left: 8px;
}

.add-blog-post{
	position:fixed;
	bottom: 0;
	/*margin: 25px 5%;*/
	padding: 10px 22px;
	background-color: #dadada;
	color: #444;
	text-align: center;
	font-size: 50px;
	cursor: pointer;
	border-top: 2px solid #848484;
	border-right: 2px solid #848484;
}

.add-blog-post:hover{
	background-color: #ccc
}

.btn.edit-blog-post{
	position: absolute;
	top: 1.5em;
	right: 0;
	z-index: 10;
}

.temp-blog-post{
	min-height: 320px;
	margin: 0 5%;
	padding: 25px 0;
	border-top: 1px solid #dadada;
}

.temp.blog-post-title{
	font-size: 20px;
}

input.temp{
	width: 100%;
}

.wysihtml5-toolbar li{
	padding-top: 0;
}

textarea.temp{
	width: 100%;
	height: 200px;
	resize: vertical;
}

.temp.blog-post-date{
	cursor: text;
}

.temp.blog-post-photo{
	display: none;
}

.temp.post-embed-code{
	height: 100px;
}

.remove-item{
	margin: -5px 0 10px 0;
}

.editor-ctrl{
	margin-bottom: 5px;
}

.temp.map-state-manager{
	position: absolute;
	left: 15px;
	width: 350px;
	max-height: 300px;
	padding: 15px;
	background-color: #fff;
	z-index: 100;
	overflow: auto;
	cursor: move;
}

.temp.map-state-manager h4{
	font-weight: bold;
	font-size: 16px;
	margin-bottom: 5px
}

.temp.map-state-manager h5{
	font-size: 14px;
	font-style: italic;
	color: #666;
	margin-bottom: 15px;
}

/*.temp.map-state-manager .map-state-save{
	float: right;
}

.temp.map-state-manager .map-state-show, .temp.map-state-manager .map-state-remove{
	margin-right: 5px;
	float: right;
}*/

.btn-group.map-state-ctrl{
	float: right;
}

.temp.map-state-manager .map-state-item{
	line-height: 1.4;
}

.temp.map-state-manager .map-state-links-wrapper{
	margin-top: 10px;
	padding-top: 10px;
	border-top: 1px solid #dadada;
}

.temp.map-state-manager .map-state-links-wrapper h6{	
	font-weight: bold;
	font-size: 14px;
}

.temp.map-state-manager .link-state{
	margin-top: 5px;
}

.temp.map-state-manager .text-string{
	display: inline-block;
	max-width: 190px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.modal h3{
	font-size: 18px;
	font-weight: bold;
}