.add-blog-post{
	margin: 25px 5%;
	padding: 10px;
	background-color: #dadada;
	color: #444;
	text-align: center;
	font-size: 50px;
	cursor: pointer;
}

.add-blog-post:hover{
	background-color: #ccc
}

.temp-blog-post{
	margin: 25px 5%;
}

.temp.blog-post-title{
	font-size: 20px;
}