.geoblog-post{
	position: relative;
	margin: 0 5%;
	padding: 25px 0;
	border-top: 1px solid #dadada;
	opacity: .5;
	filter: alpha(opacity=50);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
}

.geoblog-post:first-child{
	border-top: none;
}

.geoblog-post.active{
	opacity: .99;
	filter: alpha(opacity=99);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=99)";
}

.draft-post{
	padding-left: 15px;
	border-left: 3px solid #3e78b7;
}

.hidden-post{
	padding-left: 15px;
	border-left: 3px solid #848484;
}

.blog-item{
	margin-top: 1.5em;
}

.blog-item:first-child{
	margin-top: 0;
}

.blog-post-title{	
	font-weight: bold;
	font-size: 1.25em;
}

.blog-post-text{
	color: #444;
	font-family: Georgia;
	font-size: 1.05em;
	line-height: 1.65em;
}

.map-state-link{
	color: #468847;
	text-decoration: none;
	cursor: pointer;
}

.map-state-link:hover, .map-state-link:focus {
	color: #2F5830;
	text-decoration: underline;
}

.blog-post-photo-caption{
	color: #777;
	font-size: 13px;
	margin-top: 8px;
}

.blog-post-embed-wrapper iframe{
	width: 100%;
}

.map{
	height: 100%;
	width: 100%;
}

.multiTip{
	max-width: 180px;
}