/* EMBEDDED FONT FAMLIES */

@font-face {
    font-family: 'Average-Regular';
    src: url('fonts/average-regular-webfont.eot');
    src: url('fonts/average-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/average-regular-webfont.woff') format('woff'),
         url('fonts/average-regular-webfont.ttf') format('truetype'),
         url('fonts/average-regular-webfont.svg#averageregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* STANDARD LAYOUT */
body, html{
	font-family: Arial, Helvetica, sans-serif;
}

.loader{
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 100;
}

.loader80{
	margin: -40px 0 0 -40px;
}

#legend-pane, .legend, .mobile-popup-content, .mobile-close, #intro-toggle, #hide-intro, #mobile-header, #mobile-nav, .maximize, .mainSection .break{
	display: none;
}

#application-window{
	position: absolute;
	height: 100%;
	width: 100%;
	overflow: hidden;
}

.region-right{
	position: absolute;
	right: 0;
}

.region-left, .region-center, .region-top, .region-bottom{
	position: absolute;
	left: 0;
}

#banner{
	background-color: #444;
	height: 115px;
	width: 100%;
	z-index: 100;
	overflow: hidden;
}

#branding-wrapper{
	height: 100%;
	width: 200px;
	float:right;
	text-align:right;
}

#social{
	margin:25px 25px 20px 0;
}

#smLink{
	color:#fff;
	font-weight:bold;
	text-decoration: none;
	font-size:13px;
	outline:none;
}

#logo{
	margin-right: 25px;
	border:none;
	outline:none;
}

#logoImg{
	border:none;
	outline:none;
}

#title{
	margin: 25px 25px 10px;
	color: #fff;
	font-size: 20px;
	font-weight: bold;
}

#subtitle{
	margin: 0 25px;
	color: #dadada;
	font-family: Georgia, serif;
}

#mobile-header{
	height: 18px;
	padding: 14px 14px 14px 50px;
	color: #fff;
	font-weight: bold;
	font-size: 18px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#mobile-nav{
	background-color: #888;
	color: #dadada;
	height: 14px;
	font-size: 14px;
	font-weight: bold;
	padding: .5em 0;
	text-align: center;
}

#mobile-nav span{
	cursor: pointer;
}

.left-nav, .right-nav{
	position: absolute;
}

.left-nav{
	left: .5em;
}

.right-nav{
	right: .5em;
}

#legend-wrapper{
	position: absolute;
	width: 300px;
	top: 0;
	right: 25px;
	z-index: 3;
}

#legend-toggle{
	background-color: #888;
	color: #fff;
	padding: 8px 15px;
	cursor: pointer;
}

#legend-pane{
	background-color: #fff;
	overflow: hidden;
	border-right: 2px solid #888;
	border-bottom: 2px solid #888;
	border-left: 2px solid #888;
}

.legend{
	padding: 15px;
	max-height: 300px;
	overflow: auto;
}

.legend:first-child{
	display: block;
}

/* Popup modifications */

.esriViewPopup .gallery{
	height: auto;
	max-height: 150px;
}

@media all and (min-width: 781px) {
	#header-text{
		display: block;
	}

	#title{
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}

@media all and (max-width: 780px) {
	#banner{
		height: auto;
	}

	#header-text{
		display: none;
		border-bottom: 1px #999 solid;
	}

	#hide-intro{
		display: block;
		text-align: center;
		padding: 15px;
		font-size: 12px;
		font-weight: bold;
		color: #fff;
		cursor: pointer;
	}

	#mobile-header{
		display: block;
	}

	#mobile-nav{
		display: block;
	}

	#branding-wrapper{
		display: none;
	}

	.mobile-close{
		position: absolute;
		background-color: #444;
		color: #ccc;
		right: -11px;
		top: -15px;
		width: 17px;
		text-align: center;
		padding: 5px;
		-webkit-border-radius: 17px;
		border-radius: 17px;
		-webkit-box-shadow: 0px 0px 8px 0px #444;
		box-shadow: 0px 0px 8px 0px #444;
		z-index: 10;
		cursor: pointer;
	}

	#legend-wrapper, #mobile-popup{
		position: absolute;
		width: 90%;
		top: auto;
		bottom: 45px;
		right: 5%;
		z-index: 3;
	}

	#legend-toggle{
		display: none;
	}

	#mobile-popup{
		background-color: #fff;
	}

	#legend-pane, #mobile-popup{
		border: none;
		-webkit-border-radius: 3px;
		border-radius: 3px;
		-webkit-box-shadow: 0px 0px 8px 0px #444;
		box-shadow: 0px 0px 8px 0px #444;
	}

	.mobile-popup-content{
		overflow: hidden;
	}

	.legend{
		max-height: 150px;
	}
}