html, body, #application-window{
	overflow: hidden;
}

blockquote{
	padding: 0 0 0 15px;
	margin: 0 0 20px;
	border-left: 5px solid #eeeeee;
}

#blog-wrapper{
	height: 100%;
	width: 40%;
	box-shadow:4px 3px 6px 0px #333;
	z-index: 3;
}

#blog{
	overflow: auto;
}

#blog-navigation{
	background-color: #777;
	height: 100%;
	width: 40px;
}

#nav-buttons-wrapper{
	width: 100%;
	padding: 10px 0;
}

.nav-button{
	color:#dadada;
	text-align: center;
	font-size: 32px;
	cursor: pointer;
}

.nav-button:hover{
	color: #fff;
}

.page-button{
	font-size: 22px;
	margin-left: 10px;
	cursor: pointer;
}

.page-button:hover{
	color: #dadada;
}

.post-index-bullet{
	color: #444;
	font-size: 18px;
	padding: 3px 0;
	text-align: center;
	cursor: pointer;
}

.post-index-bullet.active{
	color: #dadada;
	font-size: 28px;
}

#nav-index-wrapper .tooltip.right{
	margin-left: -8px;
}

.legend-wrapper{
	display: none;
	position: absolute;
	background-color: #fff;
	top: 0;
	left: 25px;
	width: 300px;
	border: 2px solid #888;
	z-index: 100;
}

.legend-toggle{
	padding: 6px 15px 8px;
	background-color: #888;
	color: #fff;
	cursor: pointer;
}

.legend-content{
	display: none;
}

.legend{
	display: none;
	padding: 15px 15px 15px 15px;
	max-height: 300px;
	overflow: auto;
}

.builder .legend{
	word-break: break-all;
}

.legend:first-child{
	display: block;
}

.legend.active{
	display: block;
}

.modal h2{
	font-size: 18px;
	font-weight: bold;
}

/* Custom Scrollbar */
.mCSB_container{
	margin-right: 16px;
}

.mCustomScrollBox>.mCSB_scrollTools{
	height: 98%;
	top: 1%;
}

/* Fix tooltip position */
#blog .tooltip{
	position: fixed;
}

.pager-tab{
	display: none;
	position: absolute;
	text-align: center;
	width: 200px;
	left:50%;
	margin-left: -80px;
	padding: 5px 0;
	background-color: #777;
	color: #fff;
	cursor: pointer;
	z-index: 20;
}

.pager-tab:hover{
	background-color: #999;
}

#page-down-tab{
	bottom: 0;
}

#blog-sizer{
	display: none;
	position: absolute;
	background-color: #fff;
	top: 50%;
	margin-top: -15px;
	width: 25px;
	height: 30px;
	font-size: 14px;
	border-radius: 0 15px 15px 0;
	box-shadow:4px 3px 6px 0px #333;
	line-height: 2.4;
	z-index: 100;
	cursor: w-resize;
}

.map{
	z-index: 0;
}

#map-blind{
	background-color: #fff;
	z-index: 1;
}

.map.active{
	z-index: 2;
}

.blog-toggle{
	display: none;
	position: absolute;
	bottom: 0;
	background-color: #fff;
	border-top-right-radius: 5px;  
	padding: 8px;
	z-index: 5;
	cursor: pointer;
}

#home-toggle-mobile{
	display: none;
	position: absolute;
	top: 0;
	background-color: #fff;
	border-bottom-right-radius: 5px;  
	padding: 8px;
	z-index: 5;
	cursor: pointer;
}

@media all and (max-width: 780px) {
	#mobile-nav{
		display: none;
	}

	.blog-toggle{
		display: block;
	}

	#blog-wrapper{
		box-shadow: none;
	}

	#blog-buffer{
		height: 10px;
	}

	.legend-wrapper{
		left: 50%;
		margin-left: -152px;
	}

	.esriSimpleSlider{
		display: none;
	}

	.esriViewPopup{
		padding: 10px;
	}

	.esriMobileNavigationBar{
		background-color: #444;
		background-image: none;
	}

	.esriMobileNavigationItem.right{
		display: none;
	}
}

/*Elephant Mods*/


/* Custom Webkit Scrollbar */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

::-webkit-scrollbar-thumb {
    background: #888;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

#banner{
	background-color: #444;
	height: 125px;
}

#branding-wrapper{
	width: 220px;
}

#title{
	color: #fff;
	height: 24px;
}

#subtitle, #smLink{
	color: #b4a388;
}

#title, #subtitle{
	font-size: 18px;
}

#title, #subtitle, #smLink, .blog-post-title{
	text-transform: uppercase;
}

#smLink{
	font-family: Georgia, serif;
}

.blog-post-title{
	font-size: 26px;
}

#map-blind{
	background-color: #1B1924;
}

#blog-navigation{
	background-color: #d02e31;
	background-image: url("../../../resources/images/app/textures/red_1200x800.jpg");
	background-repeat: repeat;
}

#title{
	-webkit-text-fill-color: transparent;
	background: -webkit-linear-gradient(transparent, transparent), url("../../../resources/images/app/textures/felt_400x400.jpg") repeat;
	background: -o-linear-gradient(transparent, transparent);
	-webkit-background-clip: text;
}

.blog-post-social-wrapper .chicklets{
	color: #fff !important;
}

.page-button{
	color: #fff;
}

#blog-wrapper{
	background-color: #201e1e;
}

.img-polaroid{
	background-color: #777;
	padding: 0;
	border: none;
}

.blog-post-title{
	color: #d02e31;
}

.blog-post-text{
	color: #898178;
}

.blog-post-photo-caption{
	color: #898178;
	font-family: Georgia, serif;
}

#blog-sizer {
	background-color: #201e1e;
	color: #fff;
}

.mCSB_dragger_bar{
	background: #fff !important;
}

.mCSB_draggerRail{
	background-color: #333131 !important;	
}

.geoblog-post a, .map-state-link{
	color: #d02e31;
}

.geoblog-post a:hover, .map-state-link:hover, .map-state-link:focus {
	color: #d02e31;
	text-decoration: underline;
}

.esriSimpleSlider, .legend-content{
	background-color: #ccc;
}

.esriPopup .mainSection{
	line-height: 1.2;
}

.esriPopup .caption{
	padding: 5px 0;
}

.legend-wrapper{
	border: 2px solid #201e1e;
}

.legend-toggle{
	background-color: #201e1e;
}

a{
	color: #6cc4d7;
}

a:hover, a:focus {
	color: #5096a5;
}

.esriAttribution{
	background-color: #201e1e;
	color: #b4a388;
	font-family: Georgia, serif;
	padding: 3px;
	opacity: 0.7;
}

#loader-container{
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 20000
}

h1,h2,h3,h4,h5,h6{
	font-family: akzidenz-grotesk-condensed !important;
	font-weight: 500;
}