html, body, #application-window{
	overflow: hidden;
}

blockquote{
	padding: 0 0 0 15px;
	margin: 0 0 20px;
	border-left: 5px solid #eeeeee;
}

#blog-wrapper{
	height: 100%;
	width: 40%;
	box-shadow:4px 3px 6px 0px #333;
	z-index: 3;
}

#blog{
	overflow: auto;
}

#blog-navigation{
	background-color: #777;
	height: 100%;
	width: 40px;
}

#nav-buttons-wrapper{
	width: 100%;
	padding: 10px 0;
}

.nav-button{
	color:#dadada;
	text-align: center;
	font-size: 32px;
	cursor: pointer;
}

.nav-button:hover{
	color: #fff;
}

.page-button{
	font-size: 22px;
	margin-left: 10px;
	cursor: pointer;
}

.page-button:hover{
	color: #dadada;
}

.post-index-bullet{
	color: #444;
	font-size: 18px;
	padding: 3px 0;
	text-align: center;
	cursor: pointer;
}

.post-index-bullet.active{
	color: #dadada;
	font-size: 28px;
}

#nav-index-wrapper .tooltip.right{
	margin-left: -8px;
}

.legend-wrapper{
	display: none;
	position: absolute;
	background-color: #fff;
	top: 0;
	left: 25px;
	width: 300px;
	border: 2px solid #888;
	z-index: 100;
}

.legend-toggle{
	padding: 6px 15px 8px;
	background-color: #888;
	color: #fff;
	cursor: pointer;
}

.legend-content{
	display: none;
}

.legend{
	display: none;
	padding: 15px 15px 15px 15px;
	max-height: 300px;
	overflow: auto;
}

.builder .legend{
	word-break: break-all;
}

.legend:first-child{
	display: block;
}

.legend.active{
	display: block;
}

.modal h2{
	font-size: 18px;
	font-weight: bold;
}

/* Custom Scrollbar */
.mCSB_container{
	margin-right: 16px;
}

.mCustomScrollBox>.mCSB_scrollTools{
	height: 98%;
	top: 1%;
}

/* Fix tooltip position */
#blog .tooltip{
	position: fixed;
}

.pager-tab{
	display: none;
	position: absolute;
	text-align: center;
	width: 200px;
	left:50%;
	margin-left: -80px;
	padding: 5px 0;
	background-color: #777;
	color: #fff;
	cursor: pointer;
	z-index: 20;
}

.pager-tab:hover{
	background-color: #999;
}

#page-down-tab{
	bottom: 0;
}

#blog-sizer{
	display: none;
	position: absolute;
	background-color: #fff;
	top: 50%;
	margin-top: -15px;
	width: 25px;
	height: 30px;
	font-size: 14px;
	border-radius: 0 15px 15px 0;
	box-shadow:4px 3px 6px 0px #333;
	line-height: 2.4;
	z-index: 100;
	cursor: w-resize;
}

.map{
	z-index: 0;
}

#map-blind{
	background-color: #fff;
	z-index: 1;
}

.map.active{
	z-index: 2;
}

.blog-toggle{
	display: none;
	position: absolute;
	bottom: 0;
	background-color: #fff;
	border-top-right-radius: 5px;  
	padding: 8px;
	z-index: 5;
	cursor: pointer;
}

#home-toggle-mobile{
	display: none;
	position: absolute;
	top: 0;
	background-color: #fff;
	border-bottom-right-radius: 5px;  
	padding: 8px;
	z-index: 5;
	cursor: pointer;
}

@media all and (max-width: 780px) {
	#mobile-nav{
		display: none;
	}

	.blog-toggle{
		display: block;
	}

	#blog-wrapper{
		box-shadow: none;
	}

	#blog-buffer{
		height: 10px;
	}

	.legend-wrapper{
		left: 50%;
		margin-left: -152px;
	}

	.esriSimpleSlider{
		display: none;
	}

	.esriViewPopup{
		padding: 10px;
	}

	.esriMobileNavigationBar{
		background-color: #444;
		background-image: none;
	}

	.esriMobileNavigationItem.right{
		display: none;
	}
}

/*Elephant Mods*/

#map-blind{
	background-color: #1B1924;
}

#blog-wrapper{
	background-color: #5e5e5e;
}

.img-polaroid{
	background-color: #777;
}

.blog-post-title{
	color: #dcda75;
}

.blog-post-text{
	color: #ccc;
}

.blog-post-photo-caption{
	color: #000;
}

#blog-sizer {
	background-color: #5e5e5e;
	color: #ccc;
}

.map-state-link{
	color: #ebc875;
}

.map-state-link:hover, .map-state-link:focus {
	color: #cba344;
}

.esriSimpleSlider, .esriPopup .contentPane, .legend-content{
	background-color: #ccc;
}

.legend-wrapper{
	border: 2px solid #777;
}

.legend-toggle{
	background-color: #777;
}

a{
	color: #6cc4d7;
}

a:hover, a:focus {
	color: #5096a5;
}