#blog-wrapper{
	height: 100%;
	width: 40%;
	min-width: 400px;
}

#blog{
	overflow: auto;
}

#blog-navigation{
	background-color: #777;
	height: 100%;
	width: 40px;
}

/* Custom Scrollbar */
.mCSB_container{
	margin-right: 16px;
}

.mCustomScrollBox>.mCSB_scrollTools{
	height: 98%;
	top: 1%;
}